<html ng-app="myApp">
    <head runat="server">
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" type="text/css" href="/Content/dx.common.css" />
        <link rel="stylesheet" type="text/css" href="/Content/dx.light.css" />
        <script src="~/Scripts/jquery-1.11.3.min.js"></script>
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-sanitize.js"></script>
        <script src="~/Scripts/jquery.globalize/globalize.js"></script>
        <script src="~/Scripts/dx.webappjs.js"></script>
        <script src="~/Scripts/app/script_Angular.js"></script>
    </head>
    <body ng-controller="defaultCtrl">
        <div dx-button="{
          text: 'Generate random value',
          onClick: clickHandler,
             bindingOptions:{
                disabled: 'buttonDisabled'
             }
      }"></div>
        <p>
            Random value: <b>{{randomValue}}</b>
        </p>
        <p>
            Disable button <span dx-check-box="{bindingOptions: { value: 'buttonDisabled' }}"</span>
        </p>
    </body>
</html>
